telegram-workflow-simple.json
{
  "name": "Telegram Tutor Bot - Simple",
  "nodes": [
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{ $json.webhookUrl }}",
        "options": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "webhookId": "telegram-bot"
    },
    {
      "parameters": {
        "jsCode": "const chatId = $input.first().json.message.chat.id;\nconst text = $input.first().json.message.text || '';\n\nlet message = '';\n\nif (text === '/start') {\n  message = '🎓 *Welcome to Tutor AI Agent!*\\n\\nUse /help to see available commands.';\n} else if (text === '/help') {\n  message = '*Available Commands:*\\n/start - Start\\n/courses - List courses\\n/learn [course] - Start learning\\n/stats - View statistics\\n/reset - Reset session';\n} else if (text === '/courses') {\n  message = '📚 Fetching courses...';\n} else {\n  message = `Echo: ${text}`;\n}\n\nreturn { chatId, message };"
      },
      "id": "handle-message",
      "name": "Handle Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-message",
      "name": "Send Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Handle Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Message": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "telegram-simple"
}
