Theatre Cognitive Development Telegram Bot.json
{
  "name": "Theatre Cognitive Development Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        240,
        736
      ],
      "webhookId": "72546831-9b41-4b00-80a6-4ef0870a8ae6",
      "credentials": {
        "telegramApi": {
          "id": "xkrU1AzTzh723ZuT",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.message.text }}",
                    "operation": "startsWith",
                    "value2": "/learn"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "learn"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.message.text }}",
                    "operation": "startsWith",
                    "value2": "/start"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.message.text }}",
                    "operation": "startsWith",
                    "value2": "/courses"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "courses"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.message.text }}",
                    "operation": "startsWith",
                    "value2": "/stats"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "stats"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.message.text }}",
                    "operation": "startsWith",
                    "value2": "/reset"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "reset"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.message.text }}",
                    "operation": "startsWith",
                    "value2": "/help"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "help"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "command-router",
      "name": "Command Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        464,
        656
      ]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/courses",
        "options": {}
      },
      "id": "get-courses",
      "name": "Get Courses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        688,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const courses = $json.courses || [];\nconst chatId = $('Telegram Trigger').first().json.message.chat.id;\n\nreturn {\n  courses,\n  chatId\n};"
      },
      "id": "add-chat-id",
      "name": "Add Chat ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        112
      ]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/courses",
        "options": {}
      },
      "id": "get-courses-for-list",
      "name": "Get Courses For List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        688,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "const courses = $json.courses || [];\nconst chatId = $json.chatId;\n\nlet message = \"🎓 *Welcome to Tutor AI Agent!*\\n\\n\";\nmessage += \"I'm your AI tutor powered by LightRAG and Ollama.\\n\\n\";\nmessage += \"📚 *Available Courses:*\\n\";\n\nif (courses.length > 0) {\n  courses.forEach((course, index) => {\n    message += `${index + 1}. \\`/learn ${course}\\`\\n`;\n  });\n  message += \"\\n💡 Copy and send any command above to start learning!\";\n} else {\n  message += \"\\nNo courses available yet.\\nUpload content via the web interface.\";\n}\n\nreturn {\n  chatId,\n  message,\n  parseMode: 'Markdown'\n};"
      },
      "id": "format-start",
      "name": "Format Start Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        112
      ]
    },
    {
      "parameters": {
        "chatId": "={{ String($json.chatId) }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "disable_notification": true,
          "disable_web_page_preview": true,
          "parse_mode": "={{ $json.parseMode }}"
        }
      },
      "id": "send-telegram",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1360,
        736
      ],
      "webhookId": "9fe8e153-b221-4570-b728-54a956a86779",
      "credentials": {
        "telegramApi": {
          "id": "xkrU1AzTzh723ZuT",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chatId = $json.message?.chat?.id;\nconst courses = $json.courses || [];\n\nlet message = \"📚 *Available Courses:*\";\nlet replyMarkup = null;\n\nif (courses.length > 0) {\n  const buttons = courses.map(course => [{\n    text: course,\n    callback_data: `/course ${course}`\n  }]);\n  \n  replyMarkup = {\n    inline_keyboard: buttons\n  };\n} else {\n  message += \"\\n\\nNo courses available yet.\\nUpload content via the web interface.\";\n}\n\nreturn {\n  chatId,\n  message,\n  parseMode: 'Markdown',\n  replyMarkup\n};"
      },
      "id": "format-courses",
      "name": "Format Courses List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const chatId = $input.first().json.message.chat.id;\nconst text = $input.first().json.message.text;\nconst course = text.replace('/learn', '').trim();\n\nif (!course) {\n  return {\n    chatId,\n    message: \"❌ Please specify a course.\\n\\nExample: /learn variables\",\n    parseMode: 'Markdown'\n  };\n}\n\n// Store session data\nconst sessionKey = `session_${chatId}`;\nconst session = {\n  chatId,\n  course,\n  retentionHistory: [],\n  currentQuestion: null,\n  language: 'en'\n};\n\n// Get initial question from LightRAG\nreturn {\n  chatId,\n  course,\n  session,\n  sessionKey\n};"
      },
      "id": "parse-learn",
      "name": "Parse Learn Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "const chatId = $input.first().json.message.chat.id;\nconst sessionKey = `session_${chatId}`;\n\n// In production, retrieve from Redis/database\n// For now, return mock data\nconst session = {\n  retentionHistory: [0.8, 0.75, 0.9, 0.85],\n  course: 'variables'\n};\n\nconst avg = session.retentionHistory.length > 0\n  ? Math.round((session.retentionHistory.reduce((a, b) => a + b, 0) / session.retentionHistory.length) * 100)\n  : 0;\n\nlet message = \"📊 *Your Learning Statistics*\\n\\n\";\nmessage += `📚 Current Course: \\`${session.course || 'None'}\\`\\n`;\nmessage += `📈 Average Retention: *${avg}%*\\n`;\nmessage += `🎯 Questions Answered: ${session.retentionHistory.length}\\n\\n`;\n\nif (session.retentionHistory.length > 0) {\n  message += \"Recent Scores:\\n\";\n  session.retentionHistory.slice(-5).forEach((score, i) => {\n    const percent = Math.round(score * 100);\n    const emoji = percent > 75 ? '🟢' : percent >= 50 ? '🟠' : '🔴';\n    message += `${emoji} ${percent}%\\n`;\n  });\n}\n\nreturn {\n  chatId,\n  message,\n  parseMode: 'Markdown'\n};"
      },
      "id": "format-stats",
      "name": "Format Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        1024
      ]
    },
    {
      "parameters": {
        "jsCode": "const chatId = $input.first().json.message.chat.id;\n\nlet message = \"🔄 *Session Reset*\\n\\n\";\nmessage += \"Your learning session has been cleared.\\n\\n\";\nmessage += \"Use /start to begin again!\";\n\nreturn {\n  chatId,\n  message,\n  parseMode: 'Markdown'\n};"
      },
      "id": "format-reset",
      "name": "Format Reset",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        1216
      ]
    },
    {
      "parameters": {
        "jsCode": "const chatId = $input.first().json.message.chat.id;\n\nlet message = \"📖 *Available Commands*\\n\\n\";\nmessage += \"/start - Welcome message and course list\\n\";\nmessage += \"/courses - Show all available courses\\n\";\nmessage += \"/learn [course] - Start learning a course\\n\";\nmessage += \"/stats - View your learning statistics\\n\";\nmessage += \"/reset - Clear your session\\n\";\nmessage += \"/help - Show this help message\\n\\n\";\nmessage += \"💡 *How to use:*\\n\";\nmessage += \"1. Use /courses to see available topics\\n\";\nmessage += \"2. Use /learn [course] to start\\n\";\nmessage += \"3. Answer questions I ask\\n\";\nmessage += \"4. Get personalized lessons based on your performance\";\n\nreturn {\n  chatId,\n  message,\n  parseMode: 'Markdown'\n};"
      },
      "id": "format-help",
      "name": "Format Help",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        1408
      ]
    },
    {
      "parameters": {
        "jsCode": "const chatId = $input.first().json.message.chat.id;\nconst text = $input.first().json.message.text;\nconst sessionKey = `session_${chatId}`;\n\n// In production, retrieve session from Redis/database\n// For now, check if message looks like an answer\nconst session = {\n  chatId,\n  course: 'variables',\n  currentQuestion: 'What is the difference between let and const?',\n  retentionHistory: []\n};\n\nif (!session.course) {\n  return {\n    chatId,\n    message: \"❌ No active course. Use /learn [course] to start.\",\n    parseMode: 'Markdown',\n    skipTutoring: true\n  };\n}\n\nreturn {\n  chatId,\n  course: session.course,\n  question: session.currentQuestion,\n  answer: text,\n  session\n};"
      },
      "id": "handle-answer",
      "name": "Handle Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        1600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/lesson",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "topic",
              "value": "={{ $json.course }}"
            },
            {
              "name": "question",
              "value": "={{ $json.question }}"
            },
            {
              "name": "answer",
              "value": "={{ $json.answer }}"
            },
            {
              "name": "course",
              "value": "={{ $json.course }}"
            }
          ]
        },
        "options": {}
      },
      "id": "call-tutoring",
      "name": "Call Tutoring Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        912,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "const chatId = $input.first().json.chatId;\nconst tutoringResponse = $input.last().json;\n\nconst retention = tutoringResponse.retention || 0;\nconst feedback = tutoringResponse.feedback || 'Good effort!';\nconst lessonKind = tutoringResponse.lesson_kind || 'review';\n\nconst retentionPercent = Math.round(retention * 100);\nconst emoji = retentionPercent > 75 ? '🟢' : retentionPercent >= 50 ? '🟠' : '🔴';\n\nlet message = `${emoji} *Retention: ${retentionPercent}%*\\n\\n`;\nmessage += `📝 ${feedback}\\n\\n`;\n\n// Add lesson content\nif (tutoringResponse.lesson_content) {\n  const lessons = Array.isArray(tutoringResponse.lesson_content) \n    ? tutoringResponse.lesson_content \n    : [tutoringResponse.lesson_content];\n  \n  lessons.forEach(lesson => {\n    if (lesson.title && lesson.content) {\n      message += `\\n*${lesson.title}*\\n${lesson.content}\\n`;\n    }\n  });\n}\n\n// Add next question\nif (tutoringResponse.questions && tutoringResponse.questions.length > 0) {\n  const nextQ = tutoringResponse.questions[0];\n  message += `\\n\\n❓ *Next Question:*\\n${nextQ.question}`;\n}\n\nreturn {\n  chatId,\n  message,\n  parseMode: 'Markdown'\n};"
      },
      "id": "format-tutoring",
      "name": "Format Tutoring Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        1600
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-courses",
      "name": "Merge Courses Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    model: 'deepseek-r1:14b',\n    prompt: `Course content:\n${$json.courseContent}\n\nStudent answer: '${$json.answer}'\nQuestion: '${$json.question}'\nTopic: '${$json.topic}'\n\nIMPORTANT: Respond in the SAME LANGUAGE as the course content above. Evaluate the answer and provide feedback in that language. Return ONLY a JSON object with 'feedback' (string in course language) and 'retention' (number 0-1) fields.`,\n    stream: false\n  })\n}}",
        "options": {
          "response": {}
        }
      },
      "name": "Evaluate Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1600,
        624
      ],
      "id": "17b98e1e-5057-410a-a669-c0296374e787"
    },
    {
      "parameters": {
        "jsCode": "// Get evaluation data from previous node\nconst evaluationResponse = $json.response;\n\n// Parse evaluation JSON\nlet evaluationData = {};\ntry {\n  // First try to parse as direct JSON\n  evaluationData = JSON.parse(evaluationResponse);\n} catch (e) {\n  try {\n    // Fallback: try to extract from markdown code blocks\n    const jsonMatch = evaluationResponse.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n    if (jsonMatch) {\n      evaluationData = JSON.parse(jsonMatch[1]);\n    }\n  } catch (e2) {\n    console.log('Error parsing evaluation:', e2);\n    evaluationData = { feedback: 'Parse error', retention: 0 };\n  }\n}\n\n// Store evaluation data for later use\nreturn {\n  json: {\n    ...evaluationData,\n    originalResponse: evaluationResponse\n  }\n};"
      },
      "name": "Parse Evaluation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        624
      ],
      "id": "01586ae1-97e3-42c3-bbd0-768e371d6a39"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    model: 'deepseek-r1:14b',\n    prompt: `Course content:\n${$('Retrieve Course Content').first().json.courseContent}\n\nStudent retention score: ${$('Parse Evaluation').first().json.retention}\n\nIMPORTANT: Generate ALL content in the SAME LANGUAGE as the course content above. The student is doing well. Create an advanced lesson and three new questions entirely in that language.\n\nReturn ONLY this JSON structure:\n{\n  \"lesson_content\": [\n    {\"title\": \"Section Title\", \"content\": \"Section text\"},\n    {\"title\": \"Section Title\", \"content\": \"Section text\"}\n  ],\n  \"questions\": [\n    {\"question\": \"Question text\"}\n  ]\n}`,\n    stream: false,\n    think: false,\n    lessonType: 'advanced'\n  })\n}}",
        "options": {
          "response": {}
        }
      },
      "name": "Generate Advanced Lesson",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2272,
        624
      ],
      "id": "dfa517ae-d069-452f-8107-276e760897cd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    model: 'deepseek-r1:14b',\n    prompt: `Course content:\n${$('Retrieve Course Content').first().json.courseContent}\n\nStudent retention score: ${$('Parse Evaluation').first().json.retention}\n\nIMPORTANT: Generate ALL content in the SAME LANGUAGE as the course content above. The student is struggling. Create a review lesson and three new questions entirely in that language.\n\nReturn ONLY this JSON structure:\n{\n  \"lesson_content\": [\n    {\"title\": \"Section Title\", \"content\": \"Section text\"},\n    {\"title\": \"Section Title\", \"content\": \"Section text\"}\n  ],\n  \"questions\": [\n    {\"question\": \"Question text\"}\n  ]\n}`,\n    stream: false,\n    lessonType: 'review'\n  })\n}}",
        "options": {
          "response": {}
        }
      },
      "name": "Generate Review Lesson",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2272,
        816
      ],
      "id": "0e31bfe5-2015-4f18-b482-239aecf5605d"
    },
    {
      "parameters": {
        "jsCode": "// Get retention from Parse Evaluation node\nconst retention = $('Parse Evaluation').first().json.retention;\nconst feedback = $('Parse Evaluation').first().json.feedback;\n\n// Get lesson response from current node\nconst lessonResponse = $json.response;\n\n// Detect language from course content\nconst courseContent = $('Retrieve Course Content').first().json.courseContent;\nconst hasCyrillic = /[\\u0400-\\u04FF]/.test(courseContent);\nconst language = hasCyrillic ? 'ru' : 'en';\n\n// Determine lesson kind based on which node executed\nconst lessonKind = $json.lessonType || 'unknown';\n\n// Return merged response with retention, language, and lesson kind\nreturn {\n  json: {\n    response: lessonResponse,\n    retention: retention,\n    feedback: feedback,\n    language: language,\n    lesson_kind: lessonKind\n  }\n};"
      },
      "name": "Merge Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        624
      ],
      "id": "dc8ea4e4-0736-49bf-bd10-2b92a6714455"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "56a15092-d778-4143-9f01-0eccbb6ea2c9",
              "leftValue": "={{ $json.retention }}",
              "rightValue": 0.5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2048,
        624
      ],
      "id": "4ce1e973-a2cb-46df-a6ca-d69849406ba1",
      "name": "Evaluate Retention"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/query",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "course",
              "value": "={{ $json.course }}"
            },
            {
              "name": "query",
              "value": "What is the first topic I should learn?"
            }
          ]
        },
        "options": {}
      },
      "id": "query-lightrag",
      "name": "Retrieve Course Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        912,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "const ragResponse = $json;\nconst chatId = $('Telegram Trigger').first().json.message.chat.id;\nconst messageText = $('Telegram Trigger').first().json.message.text;\nconst course = messageText.replace('/learn', '').trim() || 'Unknown Course';\n\nlet message = `🎯 *Starting Course: ${course}*\\n\\n`;\nconst content = ragResponse.courseContent || ragResponse.answer || 'Welcome to the course! Let\\'s begin your learning journey.';\nmessage += `${content}\\n\\n`;\nmessage += \"📝 Answer the questions I ask, and I'll evaluate your understanding.\\n\\n\";\nmessage += \"Your retention score will help me adapt the lessons to your level.\";\n\nif (!message.trim()) {\n  message = 'Course started successfully! Ready to begin learning.';\n}\n\nreturn {\n  chatId,\n  message,\n  parseMode: 'Markdown'\n};"
      },
      "id": "3fe1f6e4-b3bb-48b6-86a9-3ac8099ba618",
      "name": "Format Learn Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        640
      ]
    },
    {
      "parameters": {
        "chatId": "={{ String($json.chatId) }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "disable_notification": true,
          "disable_web_page_preview": true,
          "parse_mode": "={{ $json.parseMode }}"
        }
      },
      "id": "b7ffdd13-a1c2-44da-b16e-9896135f751d",
      "name": "Send Telegram Message1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        3104,
        640
      ],
      "webhookId": "9fe8e153-b221-4570-b728-54a956a86779",
      "credentials": {
        "telegramApi": {
          "id": "xkrU1AzTzh723ZuT",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Command Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Router": {
      "main": [
        [
          {
            "node": "Parse Learn Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Courses",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Courses For List",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Courses Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Reset",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Learn Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Courses": {
      "main": [
        [
          {
            "node": "Add Chat ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Chat ID": {
      "main": [
        [
          {
            "node": "Format Start Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Courses For List": {
      "main": [
        [
          {
            "node": "Merge Courses Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format Start Message": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Courses List": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Learn Command": {
      "main": [
        [
          {
            "node": "Retrieve Course Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Stats": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reset": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Help": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Answer": {
      "main": [
        [
          {
            "node": "Call Tutoring Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Tutoring Workflow": {
      "main": [
        [
          {
            "node": "Format Tutoring Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Tutoring Response": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Courses Data": {
      "main": [
        [
          {
            "node": "Format Courses List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Answer": {
      "main": [
        [
          {
            "node": "Parse Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Advanced Lesson": {
      "main": [
        [
          {
            "node": "Merge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Review Lesson": {
      "main": [
        [
          {
            "node": "Merge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Retention": {
      "main": [
        [
          {
            "node": "Generate Advanced Lesson",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Review Lesson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evaluation": {
      "main": [
        [
          {
            "node": "Evaluate Retention",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Course Content": {
      "main": [
        [
          {
            "node": "Evaluate Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Response": {
      "main": [
        [
          {
            "node": "Format Learn Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Learn Response1": {
      "main": [
        [
          {
            "node": "Send Telegram Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "d3W6KgMxhHVLhtct"
  },
  "versionId": "4c36ccd8-2ee6-4054-9494-782f3189029d",
  "meta": {
    "instanceId": "59e1da128c2e44f2f88be481a95d3142e5421187487d3334a914f7e0baf0faf4"
  },
  "id": "UOgGVUasW62FzsO2",
  "tags": []
}