Tutoring Agent Workflow.json
{
  "name": "Tutoring Agent Workflow",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    question: `${$json.body.topic} ${$json.body.question}`,\n    course: $json.body.course || 'sample-course',\n    originalData: $json.body\n  })\n}}",
        "options": {
          "response": {}
        }
      },
      "name": "Retrieve Course Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -432,
        96
      ],
      "id": "rag-retrieval-node"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    model: 'Qwen2.5:7B',\n    prompt: `Based on this course content:\n${$json.courseContent}\n\nEvaluate the following answer: '${$json.answer}' to the question '${$json.question}' on the topic '${$json.topic}'. Provide feedback and a retention score from 0 to 1. Return ONLY a JSON object with 'feedback' and 'retention' fields.`,\n    stream: false\n  })\n}}",
        "options": {
          "response": {}
        }
      },
      "name": "Evaluate Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -208,
        96
      ],
      "id": "6a8725e6-c066-42e2-bb56-151f17ea359b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    model: 'deepseek-r1:14b',\n    prompt: `Based on this course content:\n${$('Retrieve Course Content').first().json.courseContent}\n\nThe student is doing well on the topic '${$('webhook').first().json.body.topic}' with retention score ${$('Parse Evaluation').first().json.retention}. Generate a more advanced lesson and three new questions based on the course content. Return a valid parsable JSON object with 'lesson_content', 'questions'.`,\n    stream: false,\n    think: false\n  })\n}}",
        "options": {
          "response": {}
        }
      },
      "name": "Generate Advanced Lesson",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        464,
        0
      ],
      "id": "f5f5df51-70ba-4c86-8633-dfcd9892094a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    model: 'deepseek-r1:14b',\n    prompt: `Based on this course content:\n${$('Retrieve Course Content').first().json.courseContent}\n\nThe student is struggling with the topic '${$('webhook').first().json.body.topic}' with retention score ${$('Parse Evaluation').first().json.retention}. Generate a review lesson and three new questions based on the course content to reinforce the concepts. Return ONLY a JSON object with 'lesson_content', 'questions'.`,\n    stream: false\n  })\n}}",
        "options": {
          "response": {}
        }
      },
      "name": "Generate Review Lesson",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        464,
        192
      ],
      "id": "04837b83-9af5-42c5-b07c-6f01da361554"
    },
    {
      "parameters": {
        "jsCode": "// Get evaluation data from previous node\nconst evaluationResponse = $json.response;\n\n// Parse evaluation JSON\nlet evaluationData = {};\ntry {\n  // First try to parse as direct JSON\n  evaluationData = JSON.parse(evaluationResponse);\n} catch (e) {\n  try {\n    // Fallback: try to extract from markdown code blocks\n    const jsonMatch = evaluationResponse.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n    if (jsonMatch) {\n      evaluationData = JSON.parse(jsonMatch[1]);\n    }\n  } catch (e2) {\n    console.log('Error parsing evaluation:', e2);\n    evaluationData = { feedback: 'Parse error', retention: 0 };\n  }\n}\n\n// Store evaluation data for later use\nreturn {\n  json: {\n    ...evaluationData,\n    originalResponse: evaluationResponse\n  }\n};"
      },
      "name": "Parse Evaluation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        96
      ],
      "id": "parse-evaluation-node"
    },
    {
      "parameters": {
        "jsCode": "// Get retention from Parse Evaluation node\nconst retention = $('Parse Evaluation').first().json.retention;\nconst feedback = $('Parse Evaluation').first().json.feedback;\n\n// Get lesson response from current node\nconst lessonResponse = $json.response;\n\n// Return merged response with retention\nreturn {\n  json: {\n    response: lessonResponse,\n    retention: retention,\n    feedback: feedback\n  }\n};"
      },
      "name": "Merge Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        96
      ],
      "id": "merge-response-node"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        912,
        96
      ],
      "id": "a00de3a5-5212-4971-a79d-bc0b38c46e87"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lesson",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "name": "webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -656,
        96
      ],
      "webhookId": "b895950c-3939-486e-a469-f1f35719722f",
      "id": "ad5987da-ab24-4bb1-ad63-09fe793328b1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "56a15092-d778-4143-9f01-0eccbb6ea2c9",
              "leftValue": "={{ $json.retention }}",
              "rightValue": 0.5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        96
      ],
      "id": "0abd6877-cf00-4040-bfd4-596863c032a3",
      "name": "Evaluate Retention"
    }
  ],
  "pinData": {},
  "connections": {
    "Evaluate Answer": {
      "main": [
        [
          {
            "node": "Parse Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evaluation": {
      "main": [
        [
          {
            "node": "Evaluate Retention",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Advanced Lesson": {
      "main": [
        [
          {
            "node": "Merge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Review Lesson": {
      "main": [
        [
          {
            "node": "Merge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "webhook": {
      "main": [
        [
          {
            "node": "Retrieve Course Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Course Content": {
      "main": [
        [
          {
            "node": "Evaluate Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Retention": {
      "main": [
        [
          {
            "node": "Generate Advanced Lesson",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Review Lesson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6643c700-81e3-4b17-85d9-48c39c7c7f25",
  "meta": {
    "instanceId": "59e1da128c2e44f2f88be481a95d3142e5421187487d3334a914f7e0baf0faf4"
  },
  "id": "7AeqD3Lg3BLdVQ2o",
  "tags": []
}